
<div class="card-footer bg-success display">
    <div class="h2 text-white">INFORMACIÓN DE CONTACTO</div>
  
   <ul>
    <li class="">
        <img width="30px" height="30px" src="https://img.icons8.com/ios-filled/50/000000/google-maps-new.png"/>
         <span class="text-white"> Dirección: Cl. 67 ##53-108, Medellín, Antioquia, Bloque 6 </span>
    
       </li>
     <li class="">
      <img width="30px" height="30px" src="https://img.icons8.com/carbon-copy/100/000000/calendar.png" />
       <span class="text-white"> Lunes - Viernes 8am - 12m  y 2pm - 5pm </span>
  
     </li>
     <li class="">
      <img src="https://img.icons8.com/material/24/000000/phone-not-being-used.png"/>
      <span class="text-white"> (4) 2195367 </span>
  
    </li>
    <li class="">
      <img src="https://img.icons8.com/material-sharp/24/000000/important-mail.png"/>
      <span class="text-white" > sintraunicoludea2011@gmail.com</span>
  
    </li>
    
   
    <div class="float-right d-flex">
     <img width="100vw" src="assets/img/LOGO-2017_Subdirectiva.png" alt="">
   </div>
  
   </ul>
  </div>