<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ytimg.com/vi/_JF4Nyo9-DA/maxresdefault.jpg" class="d-block w-100" height="400vw" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/UdeAColombia.jpg" class="d-block w-100 " height="400vw" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://files.rcnradio.com/public/styles/image_834x569/public/2019-01/universidad_de_antioquia_10_0.jpg?itok=YhaAPArV"
          height="400vw" class="d-block w-100 " alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <div class="container">
      <div class="h1 color ml-5 mt-5 card-body">¿Quienes Somos?</div>
      <div class="h4 ml-5 mt-3 text-white">La subdirectiva Universidad de Antioquia Sintraunicol es una Organización
        sindical unitaria, clasista, democratica y progresista, y propone la unidad de los trabajadores universitarios
        colombianos sin distincion de raza, credo religioso, ideas filosoficas o militancia politica.

        Sintraunicol, tendra como tarea primordial defender incondicionalmente las conquistas y derechos actuales de los
        trabajadores y buscar el mejoramiento de sus condiciones de vida y trabajo, asi como del pueblo en general.
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <div class="container ">
      <div class="h1 color ml-5 mt-5 card-body">Nuestro Compromiso</div>
      <div class="h4 ml-5 mt-3 text-white"> La subdirectiva Sintraunicol Universidad de Antioquia se encuentra en un
        compromiso constante con pilares fundamentales como la dignidad labolar,
        la revindicación de los derechos laborales y con la consecución de mejores garantias en terminos laborales y de
        bienestar para los trabajadores de la Universidad de Antioquia,
        es menester mencionar que nuestra organización impulsa la formación politica y sindical como estructura base del
        sindicato.
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10">
    <div class="container ">
      <div class="h1 color ml-5 mt-5 card-body">Estructura Organica</div>
      <div class="h4 ml-5 mt-3 text-white">La subdirectiva Sintraunicol Universidad de Antioquia tendrá los siguientes organismos Directivos: a.  Delegados de Asamblea Nacional  b. Junta SubDirectiva Nacional c. Asambleas de Subdirectiva d. Asambleas de afiliados.
      </div>
    </div>
  </div>
</div>



